@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  background-color: #1F2937;
  color: #F9FAF8;
  align-items: center;
  justify-content: space-between;
  padding: 32px 192px;
}

a {
  text-decoration: none;
  font-size: 18px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header ul{
  display: flex;
  gap: 32px;
}

.logo {
  font-size: 24px;
}

.main {
  background-color: #1F2937;
}

.footer {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.logo, .hero-left h1 {
  color: #F9FAF8;
}

a, .hero-left p, .footer {
  color: #E5E7EB;
}

.hero {
  display: flex;
  padding: 32px 128px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 32px 0px 64px;
}

.hero-left, .hero-right {
  flex: 1 1 0;
}

.hero-right img {
  height: 250px;
}

.hero-left h1 {
  font-size: 48px;
  font-weight: 900;
}

h1 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

button {
  background-color: #3882F6;
  width: 100px;
  padding: 6px;
  color: #F9FAF8;
  border: 0;
  border-radius: 10px;
  font-weight: 700;
}

.info {
  background-color: #F9FAF8;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  gap: 30px;
}

.people {
  display: flex;
  gap: 32px;
}

.person img {
  width: 200px;
  border-width: 5px;
  border-style: solid;
  border-color: #3882F6;
  border-radius: 15px;
}

.person {
  width: 200px;
  display: flex;
  flex-direction: column;
  color: #adadad;
  font-size: 16px;
  align-items: center;
  text-align: center;
  font-weight: 400;
  gap: 10px;
}

.quote {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 24px;
}

.quote p, .quote .author {
  width: 100%;
  max-width: 800px;
  color: #1F2937;
}

.quote p {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.quote .author {
  margin-top: 16px;
  align-self: flex-end;
  text-align: right;
  padding-right: 250px;
  font-size: 22px;
  font-weight: bold;
}